#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }

  html {
      background-color: azure;
  }

  .uk-search {
    font-size: 38px;
  }
  .uk-search-input {
    width: 600px;
  }
  .uk-search-input::before {
    icon: search;
    ratio: 2;
  }
  
  .uk-button-primary {
    margin-top: 60px;
  }
 
  #userInput {
    font-size: 30px;
    text-align: center;
  }
