<<<<<<< HEAD
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
<<<<<<< HEAD
.uk-search {
  font-size: 38px;
}
.uk-search-input {
  width: 600px;
}
.uk-search-input::before {
  icon: search;
  ratio: 2;
}

.uk-button-primary {
  margin-top: 60px;
=======
.uk-button-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
>>>>>>> master
}
=======
  
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .uk-button-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
>>>>>>> b108fbbae892e3d8f4844e8426ca88fb3890c5c0
