html {
  background-color: #00dbdb;
  background-image: url("cartographer.png");
  background-repeat: repeat-y repeat-x;
}

#logo {
  padding-top: 50px;
}

#results, #songTitle, #albumCover, #lyrics, .notification {
  display: none;
}

.results {
  background-color: #55b8bb;
  margin-bottom: 5px;
  color: white;
}

.results:hover {
  background-color: cadetblue;
}

strong {
  color: white;
}
